[Desktop Entry]
Type=Link
Name=Centro de software de Lubuntu
Icon=lubuntu-software-center
URL=/usr/share/applications/lubuntu-software-center.desktop
